

#AnchorPane{
    -fx-background-color:#194981;
    -fx-border-width: 2;
    -fx-border-color: black;
    
    
}

#mainHbox{
    
    -fx-background-color: white;
    
}



#tvOrders{
    -fx-border-color: white;
    -fx-background-color:#DDDDDD;
    -fx-border-width: 3;
    -fx-background-radius: 4.5;
   /*  -fx-table-cell-border-color: black;*/
   -fx-table-cell-:black;
    -fx-border-radius:4.5;   
}

.column-header-background{
    -fx-background-color: white;
    -fx-text-fill: white;
    -fx-border-width: 1;
}

#combobox{
     -fx-background-color: #DDDDDD;
    -fx-prompt-text-fill: #194981;
    -fx-text-fill: black;
-fx-control-inner-background: #DDDDDD;
   
}



#combobox:hover{
     -fx-background-color:#194981;
     
    
}

/*#combobox:pressed{
     -fx-background-color:#DDDDDD;
     
    
}
*/




/*-----------------------------------------------------------------------------*/

#btnfinish{
     -fx-background-color:#1F2324;
     -fx-text-fill: white;
}
   

#OrderInfoAnchorPane{
  /*-fx-background-color: #1F2324;*/
    -fx-background-color: #194981;
}

#headVbox{
     -fx-background-color: white;
}